<html>

    <%- include('./partials/head.ejs') %>

<body>

    <style>
        
        p {
            padding: 20px;
            font-size: 25px;
        }

    </style>

    <h1>ABOUT-US</h1>

    <p>
        Sports website where various sports categroies will be provided for user to choose from.
        <br><br>
        Every sport will be provided with basic information about the sports, alongside with live matches and top players.
    </p>

    <br><br>
    <br><br>
    <hr>

    <section>
        <h2>PROJECT MEMEBERS :</h2>
        <p>
            KASHIF DESHMUKH<br><br>
            SAJID HURZUK<br><br>
            SIDDHANT CHALKE<br><br>
            SAAD BEBAL<br><br>
        </p>
    </section>

    <% include('partials/footer.ejs') %>

</body>
</html>