<html>
    
<%- include('./partials/head.ejs') %>

<body>

    <h1> CATEGORIES </h1>

    <div class="container">

            <div class="image item" id='crk'>
                <img class="image__img" src="./sports_images/cricket-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title"> CRICKET </div>
                </div>
            </div>
            
            <div class="image item" id='ftb'>
                <img class="image__img" src="./sports_images/football-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title">  FOOTBALL </div>
                </div>
            </div>

            <div class="image item" id='tt'>
                <img class="image__img" src="./sports_images/table-tennis-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="img_bigname"> TABLE TENNIS </div>
                </div>
            </div>

            <div class="image item" id='bdn'>
                <img class="image__img" src="./sports_images/badminton-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title">  BADMINTON </div>
                </div>
            </div>

            <div class="image item" id='bxg'>
                <img class="image__img" src="./sports_images/boxing-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title">  BOXING </div>
                </div>
            </div>

            <div class="image item" id='kbd'>
                <img class="image__img" src="./sports_images/kabaddi-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title">  KABADDI </div>
                </div>
            </div>

            <div class="image item" id='hky'>
                <img class="image__img" src="./sports_images/hockey-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title"> HOCKEY </div>
                </div>
            </div>

            <div class="image item" id='jvl'>
                <img class="image__img" src="./sports_images/javelin-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="image__title"> JAVELIN </div>
                </div>
            </div>

            <!-- <div class="image item" id='tt'>
                <img class="image__img" src="./sports_images/table-tennis-img.jpeg">
                <div class="image__overlay image__overlay--primary">
                    <div class="img_bigname"> TABLE TENNIS </div>
                </div>
            </div> -->
            
    </div>
    
    <%- include('./partials/footer.ejs') %>

    <script src='func.js'> </script>
        

</body>

</html>
