<html>

    <%- include('./partials/head.ejs') %>

<body>

    <style>
        
        p {
            padding: 20px;
            font-size: 25px;
        }

    </style>

    <h1> CONTACT US :</h1>

    <p>FOR ANY COMPLAINT, QUERIES & FEEDBACK, CONTACT US AT - <br><a>kashifdeshmukh786@gmail.com</a> <br> <a>sajidhurzuk95@gmail.com</a></p>

    <% include('partials/footer.ejs') %>

</body>
</html>